source/inventory-management-SERVER/node_modules

source/inventory-management-SERVER/db/main.sqlite

source/inventory-management-SERVER/db/org/*.sqlite

# Logs
source/inventory-management-UI/logs
*.log
source/inventory-management-UI/npm-debug.log*
source/inventory-management-UI/yarn-debug.log*
source/inventory-management-UI/yarn-error.log*
source/inventory-management-UI/pnpm-debug.log*
source/inventory-management-UI/lerna-debug.log*

source/inventory-management-UI/node_modules
source/inventory-management-UI/dist
source/inventory-management-UI/dist-ssr
source/inventory-management-UI/*.local

# Editor directories and files
*.vscode/*
source/inventory-management-UI/!.vscode/extensions.json
source/inventory-management-UI/.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
